.page-header {
  padding-top: 43px;
  padding-bottom: 35px;
  border-bottom: 1px solid $basic-white;

  & > .container {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  a {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
