.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.partners__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.partnets__list {
  display: flex;
  gap: 75px;
  flex-wrap: wrap;
  align-items: center;
}
