html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul,
blockquote {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

   &:hover {
    opacity: 0.8;
   }

   &:active {
    opacity: 0.6;
   }
}

a,
button {
  cursor: pointer;
}

.btn {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $basic-white;
  background-color: $btn-color;
  border: none;
  border-radius: 5px;

  & svg {
    fill: $main-color;
  }

  &:hover {
    background: linear-gradient(180deg, #5DC741 0%, #1D5010 100%);
  }

  &:active {
    opacity: 0.8;
  }
}

.container {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 96px;

  @media (max-width: $tablet-width) {
    padding: 0 20px;
  }
}
